In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
book = pd.read_csv("book.csv")
book

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [4]:
book.describe()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
count,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,0.423000,0.247500,0.43100,0.282000,0.214500,0.241000,0.276000,0.113500,0.037000,0.048500,0.108500
std,0.494159,0.431668,0.49534,0.450086,0.410578,0.427797,0.447129,0.317282,0.188809,0.214874,0.311089
min,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,1.00000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ChildBks   2000 non-null   int64
 1   YouthBks   2000 non-null   int64
 2   CookBks    2000 non-null   int64
 3   DoItYBks   2000 non-null   int64
 4   RefBks     2000 non-null   int64
 5   ArtBks     2000 non-null   int64
 6   GeogBks    2000 non-null   int64
 7   ItalCook   2000 non-null   int64
 8   ItalAtlas  2000 non-null   int64
 9   ItalArt    2000 non-null   int64
 10  Florence   2000 non-null   int64
dtypes: int64(11)
memory usage: 172.0 KB

In [7]:
book.shape

(2000, 11)

In [8]:
from mlxtend.frequent_patterns import apriori

In [25]:
freq_items = apriori(book, min_support = 0.03, max_len = 5, use_colnames = True)
freq_items

     support                                        itemsets
0     0.4230                                      (ChildBks)
1     0.2475                                      (YouthBks)
2     0.4310                                       (CookBks)
3     0.2820                                      (DoItYBks)
4     0.2145                                        (RefBks)
..       ...                                             ...
175   0.0450  (CookBks, DoItYBks, RefBks, GeogBks, ChildBks)
176   0.0535  (CookBks, ArtBks, DoItYBks, GeogBks, ChildBks)
177   0.0405    (CookBks, ArtBks, RefBks, GeogBks, ChildBks)
178   0.0300  (CookBks, ArtBks, ItalCook, GeogBks, ChildBks)
179   0.0370  (CookBks, ArtBks, DoItYBks, GeogBks, YouthBks)

[180 rows x 2 columns]

In [26]:
# most frequent itemsets based on support

freq_items.sort_values('support', ascending = False, inplace = True)

In [27]:
from mlxtend.frequent_patterns import association_rules

In [30]:
rules = association_rules(freq_items, metric = "lift", min_threshold = 1)
rules.head(100)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(CookBks),(ChildBks),0.4310,0.4230,0.2560,0.593968,1.404179,0.073687,1.421069
1,(ChildBks),(CookBks),0.4230,0.4310,0.2560,0.605201,1.404179,0.073687,1.441240
2,(ChildBks),(GeogBks),0.4230,0.2760,0.1950,0.460993,1.670264,0.078252,1.343211
3,(GeogBks),(ChildBks),0.2760,0.4230,0.1950,0.706522,1.670264,0.078252,1.966074
4,(CookBks),(GeogBks),0.4310,0.2760,0.1925,0.446636,1.618245,0.073544,1.308361
...,...,...,...,...,...,...,...,...,...
95,(CookBks),"(ArtBks, DoItYBks)",0.4310,0.1235,0.1015,0.235499,1.906873,0.048272,1.146499
96,(ArtBks),"(CookBks, DoItYBks)",0.2410,0.1875,0.1015,0.421162,2.246196,0.056313,1.403674
97,(DoItYBks),"(CookBks, ArtBks)",0.2820,0.1670,0.1015,0.359929,2.155264,0.054406,1.301418
98,(ArtBks),(YouthBks),0.2410,0.2475,0.1010,0.419087,1.693281,0.041353,1.295375
99,(YouthBks),(ArtBks),0.2475,0.2410,0.1010,0.408081,1.693281,0.041353,1.282270

In [29]:
rules.sort_values('lift', ascending = False).head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1103,"(ArtBks, ItalCook)","(CookBks, ItalArt)",0.0565,0.0410,0.0375,0.663717,16.188215,0.035183,2.851763
1098,"(CookBks, ItalArt)","(ArtBks, ItalCook)",0.0410,0.0565,0.0375,0.914634,16.188215,0.035183,11.052429
1105,(ItalArt),"(CookBks, ArtBks, ItalCook)",0.0485,0.0565,0.0375,0.773196,13.684883,0.034760,4.159977
1096,"(CookBks, ArtBks, ItalCook)",(ItalArt),0.0565,0.0485,0.0375,0.663717,13.684883,0.034760,2.829461
1113,(ItalArt),"(ArtBks, ItalCook)",0.0485,0.0565,0.0375,0.773196,13.684883,0.034760,4.159977
1112,"(ArtBks, ItalCook)",(ItalArt),0.0565,0.0485,0.0375,0.663717,13.684883,0.034760,2.829461
1094,"(CookBks, ItalArt, ArtBks)",(ItalCook),0.0410,0.1135,0.0375,0.914634,8.058451,0.032847,10.384714
1116,"(CookBks, ItalArt)",(ItalCook),0.0410,0.1135,0.0375,0.914634,8.058451,0.032847,10.384714
1121,(ItalCook),"(CookBks, ItalArt)",0.1135,0.0410,0.0375,0.330396,8.058451,0.032847,1.432191
1107,(ItalCook),"(CookBks, ItalArt, ArtBks)",0.1135,0.0410,0.0375,0.330396,8.058451,0.032847,1.432191